In [7]:
import pandas as pd
import numpy as np
from difflib import SequenceMatcher

In [206]:
def similar(a, b):
    grades = []
    a = a.split(' ')
    b = b.split(' ')
    for p1 in a:
        for p2 in b:
            grades.append(SequenceMatcher(None, p1, p2).ratio())
    return max(grades)

In [225]:
df_socio = pd.read_excel('BF_Dados_Socio_Economicos.xlsx')

In [226]:
df_socio.head()

,identificação,valor_solicitado,prazo_em_meses,melhor_data_vencimento,melhor_valor_parcela,atividade,tipo_atividade,tempo_atividade,tempo_atuacao_ramo_atividade,total_receitas,numero_de_pessoas_na_casa,situacao_do_imovel,tempo_de_residancia__anos,media_dos_faturamentos
0,251552,5000,8,45031,715,MARMITAS FIT,Informal,De 3 a 4 anos,De 2 a 4 anos,14000,1.0,Próprio,De 2 a 3 anos,14666.67
1,111991,2500,12,45031,300,DIARISTA E VENDEDORA,Formal,Acima de 10 anos,Acima de 10 anos,6650,1.0,Próprio,Acima de 10 anos,6666.67
2,257510,5000,8,45031,720,MOTOBOY,Formal,De 2 a 3 anos,De 2 a 4 anos,7239,3.0,Alugado,De 2 a 3 anos,7333.33
3,265309,5000,8,45031,715,JARDINEIRO / CONSTRUÇÃO CIVIL,Formal,De 1 a 2 anos,Acima de 10 anos,10000,3.0,Próprio,Acima de 10 anos,10000.00
4,251777,5000,7,45031,715,VENDAS,Formal,De 3 a 4 anos,De 4 a 6 anos,5023.6,3.0,Próprio,Acima de 10 anos,4674.33

In [227]:
df_socio['atividade'] = df_socio['atividade'].fillna('NÃO INFORMADO').apply(str).apply(lambda x: 'NÃO INFORMADO' if len(x) < 3 else x)

In [228]:
def transform_str(x):
    x = x.split('/')[0]
    x = x.split(' E ')[0]
    x = x.replace(' DE ',' ').replace(' EM ',' ').replace(' (A)','')
    x = ' '.join(x.split(' ')[:3])
    return x
df_socio['atividade'] = df_socio['atividade'].apply(transform_str)

In [229]:
atv = list(df_socio['atividade'].unique())
len(atv)

7832

In [230]:
group = df_socio[['identificação','atividade']].groupby('atividade').count().sort_values('identificação',ascending = False)
top100 = group.index[:210]
top100

Index(['DIARISTA', 'PEDREIRO', 'VENDAS', 'AUTONOMO', 'VENDEDOR', 'AGRICULTURA',
       'VENDEDORA', 'COSTUREIRA', 'AGRICULTOR', 'MANICURE',
       ...
       'TRANSPORTES', 'PET SHOP', 'MICROCRÉDITO', 'MARKETING DIGITAL',
       'SECRETARIA', 'PIZZAIOLO', 'LOCATÁRIO', 'VENDAS LINGERIE', 'POUSADA',
       'SERVIÇOS RURAIS'],
      dtype='object', name='atividade', length=210)

In [231]:
mapa = {}
for atividade in top100:
    for value in mapa.values():
        if similar(atividade,value) > 0.7:
            mapa[atividade] = value
            break
    if atividade not in mapa:
        mapa[atividade] = atividade

In [232]:
newtop = set(mapa.values())
len(newtop)

100

In [233]:
cash = {}
def convert(x):
    if x in cash:
        return cash[x]
    for atv in newtop:
        if similar(atv,x) > 0.7:
            cash[x] = atv
            return atv
    cash[x] = 'OUTROS'
    return 'OUTROS'
for valor in df_socio['atividade'].unique():
    convert(valor)

In [234]:
df_socio['atividade'] = df_socio['atividade'].apply(lambda x: convert(x))

In [235]:
group = df_socio[['identificação','atividade']].groupby('atividade').count().sort_values('identificação',ascending = False)
group

                         identificação
atividade
OUTROS                            6118
DIARISTA                          4739
VENDAS                            4637
VENDEDOR                          4447
AUTONOMO                          3699
...                                ...
VIGILANTE                           63
TABACARIA                           61
EMPREENDEDOR INDIVIDUAL             59
TORNEARIA                           57
POUSADA                             51

[101 rows x 1 columns]

In [236]:
df_socio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63825 entries, 0 to 63824
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   identificação                 63713 non-null  object
 1   valor_solicitado              63713 non-null  object
 2   prazo_em_meses                63697 non-null  object
 3   melhor_data_vencimento        63727 non-null  object
 4   melhor_valor_parcela          63697 non-null  object
 5   atividade                     63825 non-null  object
 6   tipo_atividade                48788 non-null  object
 7   tempo_atividade               55418 non-null  object
 8   tempo_atuacao_ramo_atividade  48763 non-null  object
 9   total_receitas                63635 non-null  object
 10  numero_de_pessoas_na_casa     44073 non-null  float64
 11  situacao_do_imovel            44074 non-null  object
 12  tempo_de_residancia__anos     44068 non-null  object
 13  media_dos_faturamentos        63549 non-null  float64
dtypes: float64(2), object(12)
memory usage: 6.8+ MB

In [351]:
df = df_socio.copy()

In [352]:
def convert_to_int(x):
    try:
        return int(x)
    except:
        return None
def convert_to_float(x):
    try:
        return float(x)
    except:
        return None
def convert_to_string(x):
    if not x:
        return 'Não Informado'
    if type(x) != str:
        return 'Não Informado'
    return x

In [353]:
df['identificação'] = df['identificação'].apply(convert_to_int)
df = df.loc[~df['identificação'].isna()]

In [354]:
df['valor_solicitado'] = df['valor_solicitado'].apply(convert_to_float)

In [355]:
df['prazo_em_meses'] = df['prazo_em_meses'].apply(convert_to_int)

In [356]:
df['melhor_data_vencimento'] = df['melhor_data_vencimento'].apply(convert_to_int)

In [357]:
df['melhor_valor_parcela'] = df['melhor_valor_parcela'].apply(convert_to_float)

In [358]:
df['atividade'] = pd.Categorical(df['atividade'])

In [359]:
df['tipo_atividade'] = df['tipo_atividade'].apply(convert_to_string)
df['tipo_atividade'] = pd.Categorical(df['tipo_atividade'])

In [360]:
df['tempo_atividade'] = df['tempo_atividade'].apply(convert_to_string)
df['tempo_atividade'] = pd.Categorical(df['tempo_atividade'])

In [361]:
df['tempo_atuacao_ramo_atividade'] = df['tempo_atuacao_ramo_atividade'].apply(convert_to_string)
df['tempo_atuacao_ramo_atividade'] = pd.Categorical(df['tempo_atuacao_ramo_atividade'])

In [362]:
df['total_receitas'] = df['total_receitas'].apply(convert_to_float)

In [363]:
df['situacao_do_imovel'] = df['situacao_do_imovel'].apply(convert_to_string)
df['situacao_do_imovel'] = pd.Categorical(df['situacao_do_imovel'])

In [364]:
df['tempo_de_residancia__anos'] = df['tempo_de_residancia__anos'].apply(convert_to_string)
df['tempo_de_residancia__anos'] = pd.Categorical(df['tempo_de_residancia__anos'])

In [365]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63676 entries, 0 to 63824
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   identificação                 63676 non-null  float64
 1   valor_solicitado              63663 non-null  float64
 2   prazo_em_meses                63653 non-null  float64
 3   melhor_data_vencimento        62363 non-null  float64
 4   melhor_valor_parcela          63660 non-null  float64
 5   atividade                     63676 non-null  category
 6   tipo_atividade                63676 non-null  category
 7   tempo_atividade               63676 non-null  category
 8   tempo_atuacao_ramo_atividade  63676 non-null  category
 9   total_receitas                63583 non-null  float64
 10  numero_de_pessoas_na_casa     44033 non-null  float64
 11  situacao_do_imovel            63676 non-null  category
 12  tempo_de_residancia__anos     63676 non-null  category
 13  media_dos_faturamentos        63546 non-null  float64
dtypes: category(6), float64(8)
memory usage: 4.7 MB

In [366]:
df = df.reset_index(drop = True)

In [367]:
df.to_feather('BF_Dados_Socio_Economicos.feather')