In [1]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_excel('CLIENTES BE 2019 A 2023.xlsx')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32437 entries, 0 to 32436
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   IDCliente                     32437 non-null  int64
 1   tempodeResidenciaAnos         9036 non-null   float64
 2   tempodeResidenciaMeses        471 non-null    float64
 3   situacaodoImoveldeResidencia  32437 non-null  object
 4   nroPessoasnaCasa              20953 non-null  float64
 5   situacaoImoveldeAtividade     32437 non-null  object
 6   tempoResidenciaImovel         416 non-null    float64
 7   finalDoContrato               1294 non-null   float64
 8   tipodePonto                   32437 non-null  object
 9   formacaoEscolar               32437 non-null  object
 10  atividadeExercida             32430 non-null  object
 11  tempodeAtividade              11668 non-null  float64
 12  constituicao                  32437 non-null  object
 13  pessoaFisicaJuridica          7 non-null      object
 14  numerodeFuncionarios          19776 non-null  float64
 15  rendaFamiliarMensal           32380 non-null  float64
 16  totaldasReceitas              32282 non-null  float64
 17  conceitoSPC                   12412 non-null  object
 18  dataDoSPC                     6836 non-null   datetime64[ns]
 19  classificacao                 32413 non-null  object
 20  produto                       32437 non-null  object
 21  finalidadeEmprestimo          32437 non-null  object
 22  taxaaoMes                     32437 non-null  float64
 23  valorEmprestado               32437 non-null  float64
 24  quantidadeParcelas            32437 non-null  int64
 25  nroParcelasPagas              32437 non-null  int64
 26  dataEmprestimo                32437 non-null  datetime64[ns]
 27  dataLiberacao                 29411 non-null  datetime64[ns]
 28  dataCadastro                  32436 non-null  datetime64[ns]
 29  primeiroVencimento            32437 non-null  datetime64[ns]
 30  maiorAtrasoPagas              28644 non-null  float64
 31  situacaoCredito               32437 non-null  object
 32  CEP                           32437 non-null  object
 33  bairro                        32437 non-null  object
 34  cidade                        32437 non-null  object
 35  CEPEmpresa                    32420 non-null  object
 36  bairroEmpresa                 32174 non-null  object
 37  cidadeEmpresa                 32395 non-null  object
dtypes: datetime64[ns](5), float64(12), int64(3), object(18)
memory usage: 9.4+ MB

In [38]:
for col in df.columns:
    if df[col].dtype in ['float64','int64']:
        if df[col].isna().sum() > 10000:
            del(df[col])
        else:
            df[col] = df[col].fillna(df[col].dropna().mean())
    elif df[col].dtype == 'object':
        if df[col].isna().sum() > 10000:
            del(df[col])
        else:
            df[col] = df[col].fillna('NÃ£o Informado')
            df[col] = df[col].apply(str)
    else:
        if df[col].isna().sum() > 10000:
            del(df[col])
        else:
            df = df.loc[~df[col].isna()]

In [39]:
df = df.reset_index(drop = True)

In [41]:
df.to_feather('clientes_be.feather')