In [1]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_excel('Relatório - Liberados e Reprovados.xlsx',header = 3)

C:\Users\aruav\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [54]:
df.head()

,Código Cliente,Atividade,Gênero,Data Nascimento,PF/PJ,Contrato,Data Solicitação,Data Liberação/ Cancelamento,Primeiro Vencimento,Ultimo Vencimento,...,Garantia,Formação Escolar,Tempo Atuação,Funcionários,Renda Bruta,Receita Total,Taxa Adm,Classificação SPC,Classificação Empresa,Situação
0,66608,EMPRESARIO,M,06/01/83,J,00066821-10,09/09/22,12/09/22,16/11/22,15/10/24,...,Aval,NaN,0.0,0.0,"0,00","0,00","240,00",B,AA,Aprovado
1,58480,AUXILIAR DE PRODUÇÃO,M,16/11/77,F,20210611-02,11/06/21,16/06/21,15/07/21,15/02/23,...,Aval,Sem Instrução,0.0,0.0,"0,00","0,00","60,00",F,AA,Aprovado
2,47344,ENCARREGADO,M,28/09/89,F,20190313-02,15/03/19,25/03/19,15/04/19,16/11/20,...,Aval,II Grau,95.0,0.0,"0,00","0,00","141,00",C,F,Aprovado
3,47344,ENCARREGADO,M,28/09/89,F,20210303-09,04/03/21,12/03/21,12/04/21,10/03/22,...,Aval,II Grau,95.0,0.0,"0,00","0,00","90,00",C,F,Aprovado
4,56583,AUXILIAR DE PRODUÇÃO,M,18/02/02,F,20201223-01,23/12/20,30/12/20,10/02/21,10/01/23,...,Aval,II Grau,0.0,0.0,"0,00","0,00","90,00",D,AA,Aprovado

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29637 entries, 0 to 29636
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Código Cliente                     29637 non-null  int64
 1   Atividade                          29374 non-null  object
 2   Gênero                             25219 non-null  object
 3   Data Nascimento                    25218 non-null  object
 4   PF/PJ                              29637 non-null  object
 5   Contrato                           29637 non-null  object
 6   Data Solicitação                   29022 non-null  object
 7   Data Liberação/      Cancelamento  29637 non-null  object
 8   Primeiro Vencimento                25219 non-null  object
 9   Ultimo Vencimento                  25219 non-null  object
 10  Taxa A.M.                          29637 non-null  object
 11  Valor Emprestado                   29637 non-null  object
 12  $ Corrigido                        29637 non-null  object
 13  Finalidade                         29632 non-null  object
 14  Produto                            29637 non-null  object
 15  Filial                             29637 non-null  object
 16  Constituição                       25218 non-null  object
 17  Nº Créditos                        29637 non-null  int64
 18  $ Parcela                          25219 non-null  object
 19  Nº Parcelas                        29637 non-null  int64
 20  Endereço Comercial                 11756 non-null  object
 21  Cidade Comercial                   24663 non-null  object
 22  Bairro Comercial                   16752 non-null  object
 23  UF Comercial                       25211 non-null  object
 24  Cidade Residencial                 25216 non-null  object
 25  Bairro Residencial                 25196 non-null  object
 26  UF Residencial                     25219 non-null  object
 27  Renda Mensal                       29637 non-null  object
 28  Garantia                           24982 non-null  object
 29  Formação Escolar                   20954 non-null  object
 30  Tempo Atuação                      25219 non-null  float64
 31  Funcionários                       25219 non-null  float64
 32  Renda Bruta                        25219 non-null  object
 33  Receita Total                      25219 non-null  object
 34  Taxa Adm                           25219 non-null  object
 35  Classificação SPC                  24953 non-null  object
 36  Classificação Empresa              25219 non-null  object
 37  Situação                           29637 non-null  object
dtypes: float64(2), int64(3), object(33)
memory usage: 8.6+ MB

In [56]:
df['Atividade'] = pd.Categorical(df['Atividade'].fillna('ATIVIDADE NÃO INFORMADA'))

In [57]:
df['Gênero'] = pd.Categorical(df['Gênero'].fillna('?'))

In [58]:
df = df.loc[~df['Data Nascimento'].isna()]
df['Data Nascimento'] = pd.to_datetime(df['Data Nascimento'],format = '%d/%m/%y')

In [59]:
df['PF/PJ'] = pd.Categorical(df['PF/PJ'])

In [60]:
df['Contrato'] = pd.Categorical(df['Contrato'])

In [61]:
df = df.loc[~df['Data Solicitação'].isna()]
df['Data Solicitação'] = pd.to_datetime(df['Data Solicitação'],format = '%d/%m/%y')

In [62]:
df['Data Liberação/      Cancelamento'] = pd.to_datetime(df['Data Liberação/      Cancelamento'],format = '%d/%m/%y')

In [63]:
df = df.rename({'Data Liberação/      Cancelamento':'Data Liberação/Cancelamento'},axis = 1)

In [64]:
df['Primeiro Vencimento'] = pd.to_datetime(df['Primeiro Vencimento'],format = '%d/%m/%y')

In [65]:
df['Ultimo Vencimento'] = pd.to_datetime(df['Ultimo Vencimento'],format = '%d/%m/%y')

In [66]:
df['Taxa A.M.'] = df['Taxa A.M.'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [67]:
df['Valor Emprestado'] = df['Valor Emprestado'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [68]:
df['$ Corrigido'] = df['$ Corrigido'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [69]:
df['Finalidade'] = pd.Categorical(df['Finalidade'])

In [70]:
df['Produto'] = pd.Categorical(df['Produto'])

In [71]:
df['Filial'] = pd.Categorical(df['Filial'])

In [72]:
df = df.loc[~df['Constituição'].isna()]
df['Constituição'] = pd.Categorical(df['Constituição'])

In [73]:
df['Nº Créditos'] = df['Nº Créditos'].apply(int)

In [74]:
df['$ Parcela'] = df['$ Parcela'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [76]:
df['Nº Parcelas'] = df['Nº Parcelas'].apply(int)

In [78]:
df['Endereço Comercial'] = pd.Categorical(df['Endereço Comercial'].fillna('ENDEREÇO COMERCIAL NÃO INFORMADO'))

In [80]:
df['Cidade Comercial'] = pd.Categorical(df['Cidade Comercial'].fillna('CIDADE COMERCIAL NÃO INFORMADA'))

In [81]:
df['Bairro Comercial'] = pd.Categorical(df['Bairro Comercial'].fillna('BAIRRO COMERCIAL NÃO INFORMADO'))

In [82]:
df['UF Comercial'] = pd.Categorical(df['UF Comercial'].fillna('UF COMERCIAL NÃO INFORMADO'))

In [83]:
df['Cidade Residencial'] = pd.Categorical(df['Cidade Residencial'].fillna('CIDADE RESIDENCIAL NÃO INFORMADA'))

In [85]:
df['Bairro Residencial'] = pd.Categorical(df['Bairro Residencial'].fillna('BAIRRO RESIDENCIAL NÃO INFORMADO'))

In [86]:
df['UF Residencial'] = pd.Categorical(df['UF Residencial'].fillna('UF RESIDENCIAL NÃO INFORMADO'))

In [88]:
df['Renda Mensal'] = df['Renda Mensal'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [91]:
df['Garantia'] = pd.Categorical(df['Garantia'].fillna('Sem garantia'))

In [93]:
df['Formação Escolar'] = pd.Categorical(df['Formação Escolar'].fillna('Formação Não Informada'))

In [96]:
df['Renda Bruta'] = df['Renda Bruta'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [98]:
df['Receita Total'] = df['Receita Total'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [100]:
df['Taxa Adm'] = df['Taxa Adm'].apply(lambda x: float(x.replace('.','').replace(',','.')))

In [102]:
df['Classificação SPC'] = pd.Categorical(df['Classificação SPC'].fillna('SPC Ausente'))

In [104]:
df['Classificação Empresa'] = pd.Categorical(df['Classificação Empresa'])

In [106]:
df['Situação'] = pd.Categorical(df['Situação'])

In [108]:
df = df.reset_index(drop = True)

In [109]:
df.to_feather('Relatório.feather')

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25217 entries, 1 to 25218
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Código Cliente               25217 non-null  int64
 1   Atividade                    25217 non-null  category
 2   Gênero                       25217 non-null  category
 3   Data Nascimento              25217 non-null  datetime64[ns]
 4   PF/PJ                        25217 non-null  category
 5   Contrato                     25217 non-null  category
 6   Data Solicitação             25217 non-null  datetime64[ns]
 7   Data Liberação/Cancelamento  25217 non-null  datetime64[ns]
 8   Primeiro Vencimento          25217 non-null  datetime64[ns]
 9   Ultimo Vencimento            25217 non-null  datetime64[ns]
 10  Taxa A.M.                    25217 non-null  float64
 11  Valor Emprestado             25217 non-null  float64
 12  $ Corrigido                  25217 non-null  float64
 13  Finalidade                   25212 non-null  category
 14  Produto                      25217 non-null  category
 15  Filial                       25217 non-null  category
 16  Constituição                 25217 non-null  category
 17  Nº Créditos                  25217 non-null  int64
 18  $ Parcela                    25217 non-null  float64
 19  Nº Parcelas                  25217 non-null  int64
 20  Endereço Comercial           25217 non-null  category
 21  Cidade Comercial             25217 non-null  category
 22  Bairro Comercial             25217 non-null  category
 23  UF Comercial                 25217 non-null  category
 24  Cidade Residencial           25217 non-null  category
 25  Bairro Residencial           25194 non-null  object
 26  UF Residencial               25217 non-null  object
 27  Renda Mensal                 25217 non-null  object
 28  Garantia                     21908 non-null  object
 29  Formação Escolar             20953 non-null  object
 30  Tempo Atuação                25217 non-null  float64
 31  Funcionários                 25217 non-null  float64
 32  Renda Bruta                  25217 non-null  object
 33  Receita Total                25217 non-null  object
 34  Taxa Adm                     25217 non-null  object
 35  Classificação SPC            21088 non-null  object
 36  Classificação Empresa        25217 non-null  object
 37  Situação                     25217 non-null  object
dtypes: category(13), datetime64[ns](5), float64(6), int64(3), object(11)
memory usage: 6.2+ MB