In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_excel('CLIENTES BLUSOL 2019.xlsx')
df2 = pd.read_excel('CLIENTES BLUSOL 2020.xlsx')
df3 = pd.read_excel('CLIENTES BLUSOL 2021 A 2023.xlsx')

In [4]:
df = pd.concat([df1,df2,df3])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48454 entries, 0 to 24434
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   IDCliente                     48454 non-null  int64
 1   tempodeResidenciaAnos         5758 non-null   float64
 2   tempodeResidenciaMeses        1902 non-null   float64
 3   situacaodoImoveldeResidencia  48454 non-null  object
 4   nroPessoasnaCasa              29914 non-null  float64
 5   situacaoImoveldeAtividade     48454 non-null  object
 6   tempoResidenciaImovel         73 non-null     float64
 7   finalDoContrato               1829 non-null   float64
 8   tipodePonto                   48454 non-null  object
 9   formacaoEscolar               48454 non-null  object
 10  atividadeExercida             48454 non-null  object
 11  tempodeAtividade              9285 non-null   float64
 12  constituicao                  48454 non-null  object
 13  pessoaFisicaJuridica          33738 non-null  object
 14  numerodeFuncionarios          34939 non-null  float64
 15  rendaFamiliarMensal           48452 non-null  float64
 16  totaldasReceitas              44930 non-null  float64
 17  conceitoSPC                   18950 non-null  object
 18  dataDoSPC                     9444 non-null   object
 19  classificacao                 48412 non-null  object
 20  produto                       48454 non-null  object
 21  finalidadeEmprestimo          48454 non-null  object
 22  taxaaoMes                     48454 non-null  float64
 23  valorEmprestado               48454 non-null  float64
 24  quantidadeParcelas            48454 non-null  int64
 25  nroParcelasPagas              48454 non-null  int64
 26  dataEmprestimo                48454 non-null  object
 27  dataLiberacao                 48454 non-null  object
 28  dataCadastro                  48454 non-null  object
 29  primeiroVencimento            48454 non-null  object
 30  maiorAtrasoPagas              45596 non-null  float64
 31  situacaoCredito               48454 non-null  object
 32  CEP                           48454 non-null  object
 33  bairro                        48452 non-null  object
 34  cidade                        48454 non-null  object
 35  CEPEmpresa                    48454 non-null  object
 36  bairroEmpresa                 48415 non-null  object
 37  cidadeEmpresa                 48450 non-null  object
dtypes: float64(12), int64(3), object(23)
memory usage: 14.4+ MB

In [19]:
for col in df.columns:
    if df[col].dtype in ['float64','int64']:
        if df[col].isna().sum() > 10000:
            del(df[col])
        else:
            df[col] = df[col].fillna(0)
    else:
        if df[col].isna().sum() > 10000:
            del(df[col])
        else:
            df[col] = df[col].fillna('NÃ£o Informado')

In [22]:
df = df.reset_index(drop = True)

In [23]:
df.to_feather('clientes_blusol.feather')